@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --ternary:#898989;
    --dark:#161616;
    --pure:#FFFFFF;
    --light:#F2F2F2;
}
body {
    font-family: 'Poppins',sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header  {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}
.me{
    padding-top: -1rem;
    padding-bottom: 2rem;
}
.me .left img{
    width: 500px;
}
.container .left .branding img{
    width: 100px;
}
.me .right{
    color: var(--pure);
}
.me .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.me .right h1{
    font-size: 3.8rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.me .right h1 span{
    color: var(--primary);
}
.me .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
