@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --ternary:#717171;
    --dark:#161616;
    --pure:#FFFFFF;
    --light:#d2d2d2;
    --secondary:#070606;
}
body {
    font-family: 'Poppins',sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header  {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-family: 'Ubuntu-Mono';
    
}
header nav .left a:hover{
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}
.me{
    padding-top: -1rem;
    padding-bottom: 2rem;
}
.me .left img{
    width: 500px;
}
.container .left .branding img{
    width: 100px;
}
.me .right{
    color: var(--pure);
}
.me .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.me .right h1{
    font-size: 3.8rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.me .right h1 span{
    color: var(--primary);
}
.me .right p{
    line-height: 1.9;
    margin-bottom: 2rem;    
}
.about .container img{
    width: 300px;
}
.about .container h3 img{
    width: 30px;
}
section{
    padding: 6rem 0;
}
.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.about h1 span{
    color: var(--primary);
}
section.about .container .social{
    display: flex;
}
section.about .container .social a{
    display: flex;
    
}
section.about .container .social svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.7rem;
    transition: all .3s ease;
}
section.about .container .social svg:hover{
    fill: var(--primary);
}
section.about p span{
    color: var(--primary);
}
.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p{
    font-family: 'Ubuntu-Mono';
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}
.heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.heading span{
    color: var(--primary);
}
.heading + p{
    color: var(--ternary);
    font-family: 'Ubuntu-Mono';
    margin-bottom: 6rem;
    text-align: center;
}
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
}
section.work .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .5s ease;
}

section.work .card-wrapper .card svg{
    position: absolute;
    top: -3.5em;
    left: 50%;
    transform: translateX(-50%);
}
section.work .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.work .card-wrapper .card p{
    font-family: 'Ubuntu-Mono';
    color: var(--ternary);
    line-height: 1.6;
}
section.work .card-wrapper .card:hover{
    background: var(--dark);
}
section.work .card-wrapper .card:hover svg{
    fill: var(--primary);
}
section.work .card-wrapper .card:hover h2, section.work .card-wrapper .card:hover p{
    color: var(--pure);
}
section.recent .slider .slide svg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.recent .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.recent .slider .slide p{
    font-family: 'Ubuntu-Mono';
    margin-bottom: 1rem;
    color: var(--light);
}
section.recent .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.recent .heading-1{
    color: var(--pure);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
section.recent .heading-1 span{
    color: var(--primary);
}
section.recent .heading-1 + p{
    color: var(--pure);
    font-family: 'Ubuntu-Mono';
    margin-bottom: 6rem;
    text-align: center;
}
section.recent .slider-dots{
    margin-top: 3rem;
}
section.recent .slider-dots button{
    font-size: 0;
    width: 12px;
    height: 9px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--pure);
    border-radius: 50px;
    cursor: pointer;
}
section.recent .dots li.slick-active button{
    background: var(--primary);
    width: 28px;
}
section.recent {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
    padding-bottom: 10rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;

}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card svg{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}