@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --ternary:#717171;
    --dark:#161616;
    --pure:#FFFFFF;
    --light:#d2d2d2;
    --secondary:#070606;
}
body {
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header  {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-family: 'Ubuntu-Mono';
    
}
header nav .left a:hover{
    color: var(--primary);
}
header .top-nav{
    margin-bottom: -3rem;
}
header nav {
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
    
}
.me{
    padding-top: -1rem;
    padding-bottom: 2rem;
}
.me .left img{
    width: 500px;
}
.container .left .branding img{
    width: 100px;
}
.me .right{
    color: var(--pure);
}
.me .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.me .right h1{
    font-size: 3.8rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.me .right h1 span{
    color: var(--primary);
}
.me .right p{
    line-height: 1.9;
    margin-bottom: 2rem;    
}
.about .container img{
    width: 300px;
}
.about .container h3 img{
    width: 30px;
}
section{
    padding: 6rem 0;
}
.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.about h1 span{
    color: var(--primary);
}
section.about .container .social{
    display: flex;
}
section.about .container .social a{
    display: flex;
    
}
section.about .container .social svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.7rem;
    transition: all .3s ease;
}
section.about .container .social svg:hover{
    fill: var(--primary);
}
section.about p span{
    color: var(--primary);
}
.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p{
    font-family: 'Ubuntu-Mono';
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}
.heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.heading span{
    color: var(--primary);
}
.heading + p{
    color: var(--ternary);
    font-family: 'Ubuntu-Mono';
    margin-bottom: 6rem;
    text-align: center;
}
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
}
section.work .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .5s ease;
}

section.work .card-wrapper .card svg{
    position: absolute;
    top: -3.5em;
    left: 50%;
    transform: translateX(-50%);
}
section.work .card-wrapper .card h2{
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--primary);
}
section.work .card-wrapper .card p{
    font-family: 'Ubuntu-Mono';
    color: var(--ternary);
    line-height: 1.6;
}
section.work .card-wrapper .card:hover{
    background: var(--dark);
}
section.work .card-wrapper .card a{
    text-decoration: none;
}

section.work .card-wrapper .card:hover svg{
    fill: var(--primary);
}
section.work .card-wrapper .card:hover h2, section.work .card-wrapper .card:hover p{
    color: var(--pure);
}
section.recent .slider .slide svg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.recent .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.recent .slider .slide p{
    font-family: 'Ubuntu-Mono';
    margin-bottom: 1rem;
    color: var(--light);
}
section.recent .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.recent .heading-1{
    color: var(--pure);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
section.recent .heading-1 span{
    color: var(--primary);
}
section.recent .heading-1 + p{
    color: var(--pure);
    font-family: 'Ubuntu-Mono';
    margin-bottom: 2rem;
    text-align: center;
}
section.recent .slider-dots{
    margin-top: 3rem;
}
section.recent .slider-dots button{
    font-size: 0;
    width: 12px;
    height: 9px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--pure);
    border-radius: 50px;
    cursor: pointer;
}
section.recent .dots li.slick-active button{
    background: var(--primary);
    width: 28px;
}
section.recent {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
    padding-bottom: 10rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    
}
section.contact{
    margin-top: -3rem;
}
section.contact .contact-me{
    margin-bottom: 2rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper a{
    text-decoration: none;
}
section.contact .card-wrapper h2, h6{
    color: var(--dark);
}

section.contact .card-wrapper .card svg{
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer {
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
    margin-top: -8rem;
    margin-bottom: -12rem;
}
footer .top h1{
    margin-bottom: 1.3rem;
    color: var(--light);
}
footer .top img{
    margin-bottom: 0.8rem;
}
footer .footer-socials svg{
    margin-bottom: 1rem;
    margin-right: 0.1rem;
}
footer .footer-socials svg:hover{
    fill: var(--primary);
}
footer .copyright{
    color: var(--light);
}
@media (max-width:1066px){
    header #main-nav{
        display: none;
    }
}
.site-main-wrapper{
    position: relative;
}
.site-main-wrapper .hamburger{
    position: fixed;
    top:40px;
    right:40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.site-main-wrapper .mobile-nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    background: #000000d0;
    color: white;
    width: 20%; 
    height: 100%;
    padding: 1rem;
    padding-top: 10rem;
    padding-right: 1rem;
    transition: all .5s ease-in-out;
    transform: translateX(100%);
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: var(--ternary); /* Add a dark-grey background on hover */
}
.open{
    transform: translateX(0%)!important;
}
.site-main-wrapper .cross{
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.site-main-wrapper .mobile-nav ul{
    list-style-type: none;
}
.btn{
    padding:0.8rem 1rem !important;
    font-size: 10px !important;
    font-weight: 400 !important; 
}
.site-main-wrapper .mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--pure);
}
.site-main-wrapper .mobile-nav ul li{
    text-transform: uppercase;
    font-size: 2.5rem;    
    text-align: right;
    font-family: 'Ubuntu-Mono';
}

section.achievements .autoplay .slide2 svg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.achievements .autoplay .slide2{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.achievements .autoplay .slide2 p{
    font-family: 'Ubuntu-Mono';
    margin-bottom: 1rem;
    color: var(--light);
}
section.achievements .slide2 h1{
    color: var(--primary);
}
section.achievements .heading-1{
    color: var(--pure);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
section.achievements .heading-1 span{
    color: var(--primary);
}
section.achievements .heading-1 + p{
    color: var(--pure);
    font-family: 'Ubuntu-Mono';
    margin-bottom: 2rem;
    text-align: center;
}

section.achievements {
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%, 70% 88% ,0 100%);
    padding-bottom: 10rem;
}

@import "bourbon";
 @import "neat";
 *, *:before, *:after {
	 box-sizing: border-box;
	 outline: none;
}
 figure {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 375px;
	 height: 467px;
	 border-radius: 10px;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	 transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	 overflow: hidden;
}
 figure:hover {
	 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
 figure:hover img {
	 transform: scale(1.25);
}
 figure:hover figcaption {
	 bottom: 0;
}
 figure h1 {
	 position: absolute;
	 top: 70px;
	 left: 20px;
	 margin: 0;
	 padding: 0;
	 color: white;
	 font-size: 50px;
	 font-weight: 100;
	 line-height: 1;
}
 figure img {
	 height: 100%;
	 transition: 0.25s;
}
 figure figcaption {
	 position: absolute;
	 bottom: -25%;
	 left: 0;
	 width: 100%;
	 margin: 0;
	 padding: 30px;
	 background-color: rgba(0, 0, 0, 0.85);
	 box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	 color: white;
	 line-height: 1;
	 transition: 0.25s;
}
 figure figcaption h3 {
	 margin: 0 0 20px;
	 padding: 0;
}
 figure figcaption p {
	 font-size: 14px;
	 line-height: 1.75;
}

.skillbox{
    background-color: var(--primary);
    width: 150px;
    border: 1px solid var(--ternary);
    padding: 5px 1px;
    margin: 8px;    
    border-radius: 100px;
    Text-align: center;
}
.container2{
    display: flex;    
    align-items: center;
}
section.skills .container h1{
    margin-bottom: 100px;
}
section.skills .container-header h2{
    margin-left: 50px;
}

@media only screen and (max-width:900px){
    header {
        padding-top: 8rem;
    }
    header .left img{
        width: 150px !important;
        padding-right: 1rem;
        margin-left: -1rem;
    }
    .me .right h1{
        font-size: 1.3rem;
    }
    .me .right h6{
        font-size: 0.5rem;
    }
    .me .right p{
        font-size: 0.5rem;
    }
    .me .right{
        padding-bottom: 6rem;
    }
    .about .container img{
        width: 100px !important; 
        padding-bottom: 1rem;
        
    }
    .about{
        margin-right: 6rem;
    }
    .contact{
        margin-right: 1rem;
    }
    .about h1{
        margin-bottom: 1rem;
        margin-top: -4rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
    .about h3{
        font-size: 12px;
        margin-bottom: 1rem;
        font-weight: 400;
        padding-left: 0.7rem;
    }
    .about .container h3 img{
        display: none;
        
    }
    .about p{
        line-height: 1.0;
        margin-bottom: 2rem;
        font-size: 11px;
        padding-left: 0.7rem;
    }
    section.about .container .social svg{
        padding-left: 0.1rem;
        margin-right: 0.5rem;
        width: 15px;
        height: 15px;
    }
    .work{
        margin-top: -3rem;
    }
    section.work .container h1{
        margin-top: -2rem;
    }
    section.work .card-wrapper .card{
        padding: 0rem 0;
        padding-bottom: 1rem;
        position: relative;
        padding-top: 5rem;
    }
    section.work .container .card-wrapper .card svg{
        width: 40px;
    }
    section.work .container .card-wrapper .card p{
        font-size: 0px;
    }
    section.work .container .card-wrapper{
        padding: 1rem 0.5rem;
        margin-top: -2rem;  
        margin-bottom: -3rem;  
        margin-left: -1rem;    
        margin-right: -1rem; 
    }
    section.work .card-wrapper .card h2{
        margin-top: -3rem;
    }
    section.work .card-wrapper{
        grid-column-gap: 0.4rem;
        grid-row-gap: 4rem;
    }
    section.contact .card-wrapper .card svg{
        width: 30px;
        height: 30px;
    }
    section.contact .card-wrapper .card{
        padding: 10 10 !important;
    }
    section.contact .card-wrapper .card h2{
        font-size: 0.8rem;        
    }
    section.contact .card-wrapper .card h6{
        display: none;
        padding-bottom: 2rem;
    }
    section.contact .input-wrap{
        grid-gap: 0.5rem;
        margin-bottom: 0.5rem;
              
    }
    section.contact .input-wrap-2{
        grid-gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
    section.contact .input-wrap-2 input{
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }
    section.contact .input-wrap-2 textarea{
        font-size: 0.6rem;
    }
    section.contact input{
        font-size: 0.6rem;
    }
    section.recent .slide p{
        font-size: 11px;
    }
    section.recent .slider .slide{
        padding: 0 2rem;
    }
    section.contact .card-wrapper{
        grid-gap: 0.1rem;
    }
    footer .top h1{
        font-size: 14px;
    }
    footer .footer-socials svg{
        margin-bottom: 1rem;
        margin-right: 0.1rem;
        width: 15px;
    }    

    .skillbox{
        background-color: var(--primary);
        width: 50px;
        border: 1px solid var(--ternary);
        padding: 10px 1px;
        margin: 2px;
        border-radius: 100px;
        Text-align: center;
    }
    .container2{
        display: flex;    
        align-items: center;
    }
    section.skills .container h1{
        margin-bottom: 10px;
    }
    section.skills .container-header h2{
        margin-left: 10px;
        font-size: 1rem;
        
    }
    section.skills .container-header h3{
        font-size: 0.5rem;
    }
    .image-block h1{
        font-size: 1rem;
    }
    .container{
        max-width: 300px;
        padding: 0 1px;
        margin: 0 10px;
    }
    
    section.achievements .autoplay .slide2{
        padding: 0 1rem;
    }
    section.achievements .autoplay .slide2 p{
        margin-bottom: 1rem;
    }
    section.achievements .slide2 h1{
        color: var(--primary);
        margin-left: 40px;
    }
    .slide2 .img{
        width: 300px;
        height: 300px;
    }
    
}
